package pages

import (
	"github.com/koopa0/goen/internal/i18n"
	"github.com/koopa0/goen/internal/ui/layouts"
)

// Compare renders the comparison table.
templ Compare(p layouts.Page, v CompareView) {
	@layouts.Base(p) {
		<div class="goen-compare">
			<div class="ui-page-head">
				<div>
					<p class="ui-page-head__eyebrow">{ i18n.T(ctx, i18n.KeyCompareTitle) }</p>
					<h1 class="ui-page-head__title">{ i18n.T(ctx, i18n.KeyCompareHeading) }</h1>
					if v.Enough() {
						<p class="ui-page-head__sub">
							{ i18n.T(ctx, i18n.KeyCompareSub) }
						</p>
					}
				</div>
			</div>
			if !v.Enough() {
				<div class="ui-empty">
					<p class="ui-empty__title">{ i18n.T(ctx, i18n.KeyCompareTooFew) }</p>
					<p class="ui-empty__desc">
						{ i18n.T(ctx, i18n.KeyCompareTooFewHint) }<a href="/">{ i18n.T(ctx, i18n.KeyCompareTooFewLink) }</a>{ i18n.T(ctx, i18n.KeyCompareTooFewTail) }
					</p>
				</div>
			} else {
				<div class="goen-compare__scroll">
					<table class="goen-compare__table">
						<caption class="goen-sr-only">{ i18n.T(ctx, i18n.KeyCompareCaption) }</caption>
						<thead>
							<tr>
								<th scope="col">
									<span class="goen-sr-only">{ i18n.T(ctx, i18n.KeyCompareRowLabel) }</span>
								</th>
								for _, item := range v.Products {
									<th scope="col">
										<div class="goen-compare__head">
											if item.ImageURL != "" {
												<img
													class="goen-compare__image"
													src={ item.ImageURL }
													srcset={ item.ImageSrcset }
													sizes="160px"
													alt={ item.ImageAlt }
													loading="lazy"
													width="160"
													height="120"
												/>
											}
											<a class="goen-compare__name" href={ templ.SafeURL(item.Href()) }>{ item.Name }</a>
											<span class="ui-cart-line__meta">{ item.Brand }</span>
											<a class="ui-sm goen-compare__remove" href={ templ.SafeURL(v.RemoveHref(item.Slug)) }>
												{ i18n.T(ctx, i18n.KeyRemove) }
											</a>
										</div>
									</th>
								}
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">{ i18n.T(ctx, i18n.KeyCompareRowPrice) }</th>
								for _, item := range v.Products {
									<td class="goen-compare__price">{ item.Price() }</td>
								}
							</tr>
							<tr>
								<th scope="row">{ i18n.T(ctx, i18n.KeyCompareRowStock) }</th>
								for _, item := range v.Products {
									<td>{ item.Stock(ctx) }</td>
								}
							</tr>
							<tr>
								<th scope="row">{ i18n.T(ctx, i18n.KeyCompareRowRating) }</th>
								for _, item := range v.Products {
									<td>{ item.RatingText() }</td>
								}
							</tr>
							<tr>
								<th scope="row">{ i18n.T(ctx, i18n.KeyCompareRowWarranty) }</th>
								for _, item := range v.Products {
									<td>{ item.Warranty(ctx) }</td>
								}
							</tr>
							<tr>
								<th scope="row">{ i18n.T(ctx, i18n.KeyCompareRowCategory) }</th>
								for _, item := range v.Products {
									<td>{ item.Category }</td>
								}
							</tr>
							for _, row := range v.Rows {
								<tr class={ templ.KV("is-partial", !row.Comparable(v.Count())) }>
									<th scope="row">{ row.Label }</th>
									for i := range v.Products {
										<td>{ row.Value(i) }</td>
									}
								</tr>
							}
						</tbody>
					</table>
				</div>
			}
		</div>
	}
}
