package pages

import (
	"github.com/koopa0/goen/internal/fieldrule"
	"github.com/koopa0/goen/internal/i18n"
	"github.com/koopa0/goen/internal/ui/components"
	"github.com/koopa0/goen/internal/ui/layouts"
)

templ FindOrder(p layouts.Page, v FindOrderView) {
	@layouts.Base(p) {
		<div class="goen-auth">
			<div class="goen-auth__panel">
				<h1 class="goen-auth__title">{ i18n.T(ctx, i18n.KeyFindOrderTitle) }</h1>
				<p class="goen-auth__lede">{ i18n.T(ctx, i18n.KeyFindOrderSub) }</p>
				if v.Error != "" {
					@components.Notice(components.NoticeProps{
						Intent: components.IntentDanger,
						ID:     "find-error",
					}) {
						{ v.Error }
					}
				}
				<form class="goen-auth__form" method="post" action="/orders/find">
					<div class="goen-field">
						@components.Label(components.LabelProps{For: "find-number"}) {
							{ i18n.T(ctx, i18n.KeyFieldOrderNumber) }
						}
						@components.Input(components.FieldProps{
							ID:    "find-number",
							Name:  "number",
							Type:  "text",
							Value: v.Number,
							Attrs: templ.Attributes{
								"placeholder":  "GO-260101-000001",
								"autocomplete": "off",
								"required":     true,
							},
						})
					</div>
					<div class="goen-field">
						@components.Label(components.LabelProps{For: "find-email"}) {
							{ i18n.T(ctx, i18n.KeyFieldEmail) }
						}
						@components.Input(components.FieldProps{
							ID:    "find-email",
							Name:  "email",
							Type:  "email",
							Value: v.Email,
							Attrs: fieldrule.Email.Attrs(ctx, templ.Attributes{
								"autocomplete": "email",
								"required":     true,
							}),
						})
					</div>
					@components.Button(components.ButtonProps{
						ButtonStyle: components.ButtonStylePrimary,
						Size:        components.SizeLarge,
						Block:       true,
					}, "submit") {
						{ i18n.T(ctx, i18n.KeyFindOrderSubmit) }
					}
				</form>
				<p class="goen-auth__alt">
					{ i18n.T(ctx, i18n.KeyFindOrderSignIn) }
					<a href="/signin">{ i18n.T(ctx, i18n.KeySignIn) }</a>
				</p>
			</div>
		</div>
	}
}
