package pages

import (
	"github.com/koopa0/goen/internal/i18n"
	"github.com/koopa0/goen/internal/ui/components"
	"github.com/koopa0/goen/internal/web"
)

templ ListPager(b web.Bound, headingID ...string) {
	if b.PastEnd {
		<p class="goen-pager__note">{ i18n.T(ctx, i18n.KeyPageEmpty) }</p>
	}
	if b.First != "" || b.Next != "" {
		<nav
			class="goen-pager"
			if len(headingID) > 0 && headingID[0] != "" {
				aria-labelledby={ headingID[0] }
			} else {
				aria-label={ i18n.T(ctx, i18n.KeyPagination) }
			}
		>
			if b.First != "" {
				@components.ButtonLink(components.ButtonProps{ButtonStyle: components.ButtonStyleOutline}, templ.URL(b.First)) {
					{ i18n.T(ctx, i18n.KeyFirstPage) }
				}
			}
			if b.Next != "" {
				@components.ButtonLink(components.ButtonProps{ButtonStyle: components.ButtonStyleOutline, Attrs: templ.Attributes{"rel": "next"}}, templ.URL(b.Next)) {
					{ i18n.T(ctx, i18n.KeyNextPage) }
				}
			}
		</nav>
	}
}
